@font-face {
    font-family: 'MrRobot';
    font-style: normal;
    font-weight: normal;
    src: local('MrRobot'), url('MR ROBOT.woff') format('woff');
}

h1 {
    font-family: 'MrRobot';
    font-weight: 200;
    color: rgba(203, 191, 212, 0.80);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

